body, html {
  padding: 0;
  margin: 0;
}

.app-root {
  text-align: center;
}

.app-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.app-input {
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #666;
  width: 400px;
  margin: 0px 30px 30px 30px;
}

.image-icon {
  font-size: 20px;
  vertical-align: middle;
  border: 1px solid #ccc;
  color: rgb(204, 204, 204);
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
  margin: 3px;

  &:hover {
    color: white;
    border-color: white;
  }
}

.image-icon-gold {
  font-size: 20px;
  vertical-align: middle;
  border: 1px solid rgb(5, 0, 0);
  color: #DAA520;
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
  margin: 3px;

  &:hover {
    color: #FFD700;
    border-color: white;
  }
}

.image-icon-red {
  font-size: 20px;
  vertical-align: middle;
  border: 1px solid rgb(5, 0, 0);
  color: rgb(150, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  padding: 12px;
  margin: 3px;
  
  &:hover {
    color: rgb(255, 0, 0);
    border-color: white;
  }
}