.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.spinner-icon {
  font-size: 25px;
  vertical-align: middle;
  color: rgb(158, 0, 0);
  cursor: pointer;
  margin: 3px;
}