.image-root {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }

  .image-icon {
    font-size: 15px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 1px;

    &:hover {
      color: white;
      border-color: white;
    }
  }

  .image-icon-slideShow {
    font-size: 30px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 10px;

    &:hover {
      color: white;
      border-color: white;
    }

    &:active {
      color: white;
      border-color: white;
      font-size: 25px;
    }
  }


  .image-icon-gold {
    font-size: 15px;
    vertical-align: middle;
    border: 1px solid rgb(5, 0, 0);
    color: #DAA520;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 1px;

    &:hover {
      color: #FFD700;
      border-color: white;
    }
  }

  .image-icon-green {
    font-size: 25px;
    vertical-align: middle;
    border: 1px solid rgb(5, 0, 0);
    color: rgb(32, 87, 0);
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 10px;

    &:hover {
      color: rgb(0, 255, 0);
      border-color: white;
    }
  }

  .image-icon-red {
    font-size: 25px;
    vertical-align: middle;
    border: 1px solid rgb(5, 0, 0);
    color: rgb(136, 2, 2);
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 10px;

    &:hover {
      color: rgb(255, 0, 0);
      border-color: white;
    }
  }

  .image-icon-yellow {
    font-size: 25px;
    vertical-align: middle;
    border: 1px solid rgb(5, 0, 0);
    color: rgb(216, 213, 48);
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 10px;

    &:hover {
      color: rgb(251, 255, 0);
      border-color: white;
    }

  }
}

.image-root-fliped {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;
  transform: rotateY(180deg);

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }

  .image-icon {
    font-size: 15px;
    vertical-align: middle;
    border: 1px solid rgb(204, 204, 204);
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 1px;
    transform: rotateY(0deg);

    &:hover {
      color: white;
      border-color: white;
    }
  }

  .image-icon-gold {
    font-size: 15px;
    vertical-align: middle;
    border: 1px solid rgb(5, 0, 0);
    color: #DAA520;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 1px;

    &:hover {
      color: #FFD700;
      border-color: white;
    }
  }
}

.image-menu-fliped {
  transform: rotateY(180deg);
}

